* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid red;
    width: 100%;
}

/* Main Layout */
.main-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

/* Left and Right Aside */
.aside-wrapper {
    flex: 0 0 200px; /* Fixed width to prevent stretching */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    width: 100%;
    text-align: center;
}

.aside video {
    width: 100%;
    height: fit-content;
    display: block;
}

/* Main Section */
.main-section-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    border: 1px solid red;
}
